# Python Variables â€“ Data Analytics Practice

This notebook includes practice questions focused on Python variables, applied in a data analytics context.  
Topics covered:  
- Company metrics  
- Monthly sales analysis  
- Dataset metadata storage  
- Salary calculator  
- Budget planner

Prepared as part of my data analytics upskilling journey.

# Print Function 

printing a statement using print function

In [1]:
print("python for data analytics")

python for data analytics

# variables and operators

In [2]:
var=5

In [3]:
%whos

Variable   Type    Data/Info
----------------------------
var        int     5

%whos describes the current variables in the memory

# Typefunction type()
it is used to know the datatype of a variable

In [4]:
print(type(var))

<class 'int'>

In [5]:
var2=50.9

In [6]:
print(type(var2))

<class 'float'>

In [7]:
%whos

Variable   Type     Data/Info
-----------------------------
var        int      5
var2       float    50.9

To assign multiple values

In [8]:
a,b,c,d=2,3.0,"hello",'a'

In [9]:
print(type(a))

<class 'int'>

In [10]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      2
b          float    3.0
c          str      hello
d          str      a
var        int      5
var2       float    50.9

In [11]:
var3=2+8j

In [12]:
print(type(var3))

<class 'complex'>

# example 1
variables declaration and assigment of values

In [13]:
# job description
company="walmart"
no_of_emp=1000
emp_name="jhon"
emp_id=101
emp_department="marketing"
emp_salary=1.3
emp_presence=True

In [14]:
print("company_name=",company)
print("no_of_emp=",no_of_emp)
print("emp_name",emp_name)
print("emp_id=",emp_id)
print("emp_department=",emp_department)
print("emp_salary=",emp_salary)
print("emp_presence=",emp_presence)

company_name= walmart
no_of_emp= 1000
emp_name jhon
emp_id= 101
emp_department= marketing
emp_salary= 1.3
emp_presence= True

# Python Variables Practice for Data Analytics
This notebook includes variable-based exercises that simulate real-world use cases for a data analyst.
Topics include sales tracking, company info, file stats, and basic calculations.

# Q1: Store company details in variables**  
Create variables to store the following details for a company:
- Company name = "DataVision Inc."
- Total employees = 85  
- Revenue (in crores) = 12.5  
- Is it hiring? = True  
Print all the values with a proper label.

In [15]:
#Assigning values to the above given variables
Company_name = "DataVision Inc."
Total_employees = 85
Revenue= 12.5
hiring = True

In [16]:
print(" ** COMPANY DISCRIPTION ** ")
print("Company name= ",Company_name)
print("total employees=",Total_employees)
print("Revenue (in crores)=",Revenue)
print("Is it hiring?=" , hiring)

 ** COMPANY DISCRIPTION **
Company name=  DataVision Inc.
total employees= 85
Revenue (in crores)= 12.5
Is it hiring?= True



# ðŸ”¹ **Q2: Monthly Sales Analysis**
Youâ€™re given sales of the first three months:

```python
jan_sales = 150000
feb_sales = 175000
mar_sales = 160000

# Calculate:

Total Q1 sales

Average monthly sales

Highest sales month (use variables to compare)

In [17]:
# values assignment
jan_sales = 150000
feb_sales = 175000
mar_sales = 160000

In [18]:
# calculating total q1 sales 

total_sales=jan_sales+feb_sales+mar_sales
# calulating Average monthly sales
avg=total_sales/3

In [19]:
print("Total Q1 sales = ",total_sales)
print("Average monthly sales= ",avg)

Total Q1 sales =  485000
Average monthly sales=  161666.66666666666

In [20]:
# finding Highest sales month (use variables to compare)
if jan_sales>feb_sales and jan_sales>mar_sales:
    print("Highest sales month = januray")
elif feb_sales>jan_sales and feb_sales>mar_sales:
    print("Highest sales month = February")
else :
    print("Highest sales month = march")

Highest sales month = February

# ðŸ”¹ Q3: Store Dataset Info Using Variables
Assume you downloaded a CSV file called "customer_data.csv"
Create variables to store:

File name

Total rows (assume 1000)

Total columns (assume 8)

Is the dataset clean (no nulls)? â†’ False

Print a summary like:

"The dataset customer_data.csv has 1000 rows, 8 columns. Is it clean? False"

In [21]:
# assigning values to variables
File_name="customer_data.csv"
total_rows=1000
total_columns=8
is_it_clean=False
#printing the statement
print(f"The dataset {File_name} has {total_rows} rows,{total_columns} columns.is it clean? {is_it_clean}")

The dataset customer_data.csv has 1000 rows,8 columns.is it clean? False

# ðŸ”¹ Q4: Simple Salary Calculator
Create variables for:

base_salary = 30000

incentive = 5000

deductions = 2000
Calculate and print the net salary

# formula for finding the net salary
net_salary=base salary+incentives-detductions

In [22]:
base_salary = 30000

incentive = 5000

deductions = 2000

net_salary=(base_salary+incentive)-deductions
print("net salary is: ",net_salary)

net salary is:  33000

# ðŸ”¹ Q5: Budget Tracker (with user input â€“ optional)
Use input() function to get:

Monthly income

Rent

Food

Other expenses
Print the remaining balance after expenses.

Hint: remaining = income - (rent + food + others)

In [23]:
# getting user input
monthly_income=int(input("enter monthly income:"))
Rent=int(input("enter your rent:"))
food=int(input("enter your food expenses:"))
others=int(input("enter your other expenses:"))
remaining=monthly_income-(Rent+food+others)
print("your savings are :",remaining ,"rupees")

enter monthly income: 30000
enter your rent: 8000
enter your food expenses: 2000
enter your other expenses: 3000

your savings are : 17000 rupees