# Python Day 2 â€“ Data Types & Type Casting Practice

This notebook contains real-world exercises on Python data types, conversions, and data cleaning â€” all crucial tasks for a data analyst during preprocessing and exploration phases.

# âœ… Practice Questions â€“ Data Types for Data Analysts

# ðŸ”¹ Q1: Identify Data Types in a Dataset
You are working with the following fields from a CSV file:

customer_name = "Sony"

customer_age = 25

order_value = 1399.75

is_prime_member = True

join_date = "2024-07-01"

ðŸ‘‰ Print the data type of each variable using type()

ðŸ‘‰ Explain briefly: Which variables should be converted for analysis?

In [1]:
#variable declaration and assignment
customer_name = "Sony"

customer_age = 25

order_value = 1399.75

is_prime_member = True

join_date = "2024-07-01"

In [2]:
#Print the data type of each variable using type()
type(customer_name)

str

In [3]:
type(customer_age)

int

In [4]:
type(order_value)

float

In [5]:
type(is_prime_member)

bool

In [6]:
type(join_date)

str

#  Explain briefly: Which variables should be converted for analysis?
- `customer_name`: str â†’ no need to convert
- `customer_age`: int â†’ ready for analysis
- `order_value`: float â†’ ready for calculations
- `is_prime_member`: bool â†’ good for filtering/grouping
- `join_date`: str â†’ âœ… should be converted to `datetime` for time-based analysis

# ðŸ”¹ Q2: Clean and Convert Data Types
You received this list from a CSV column:

ages = ["24", "30", "28", "unknown", "35"]


Write code to:

Convert all valid strings to integers

Skip or label invalid ones like "unknown"

Store valid numbers in a new list

Print the cleaned list and average age

In [8]:
ages = ["24", "30", "28", "unknown", "35"]

cleaned_ages = []

for i in ages:
    try:
        cleaned_ages.append(int(i))
    except ValueError:
        print(f"Invalid age found: {ages}")

print("Cleaned ages:", cleaned_ages)
print("Average age:", sum(cleaned_ages) / len(cleaned_ages))

Invalid age found: ['24', '30', '28', 'unknown', '35']
Cleaned ages: [24, 30, 28, 35]
Average age: 29.25

# ðŸ”¹ Q3: Type Casting for Price Calculation

item_price = "499.99"     # string

quantity = "3"            # string

ðŸ‘‰ Convert both to numbers

ðŸ‘‰ Calculate total price

ðŸ‘‰ Print:You bought 3 items for 499.99 each. Total = â‚¹1499.97

In [9]:
item_price = "499.99" # string
quantity = "3" # string
#Convert both to numbers
item_price=float(item_price)
quantity=int(quantity)

In [10]:
type(item_price)

float

In [11]:
type(quantity)

int

In [12]:
total_price=item_price*quantity
print(f"You bought {quantity} items for {item_price} You bought = rs{total_price}")

You bought 3 items for 499.99 You bought = rs1499.97

# ðŸ”¹ Q4: Boolean Conversion â€“ Filter Prime Members
You have a list of membership status:

prime_status = ["True", "False", "True", "True", "False"]

ðŸ‘‰ Convert these strings to real Boolean values

ðŸ‘‰ Count how many customers are prime members

In [13]:
prime_status = ["True", "False", "True", "True", "False"]
new_status=[]
count=0
for i in prime_status:
    if i== "True":
        new_status.append(True)
    else:
        new_status.append(False)
        
for i in new_status:
    if i:
        count=count+1
print(f"{count} customers are prime members")

3 customers are prime members

# ðŸ”¹ Q5: Data Types Summary Report (Mini Function)
Write a function describe_data(var) that:

Takes a variable

Prints its value, data type, and whether itâ€™s numeric, string, or boolean

Test with:

describe_data("Hyderabad")

describe_data(45.8)

describe_data(True)

Expected Output:

Value: Hyderabad | Type: str | Category: String

Value: 45.8 | Type: float | Category: Numeric

Value: True | Type: bool | Category: Boolean

In [14]:
def describe_data(var):
    if isinstance(var,bool):
        category="Boolean"
    elif isinstance(var,(int,float)):
        category=" Numeric"
    elif isinstance(var,str):
        category="String "

    else:
        category="Others"
    
    print(f"Value:{var}| Type:{type(var)}| Category:{category}")

describe_data("Hyderabad")

describe_data(45.8)

describe_data(True)

Value:Hyderabad| Type:<class 'str'>| Category:String
Value:45.8| Type:<class 'float'>| Category: Numeric
Value:True| Type:<class 'bool'>| Category:Boolean